* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #111827;
    color: white;
    line-height: 1.6;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background: #1f2937;
    position: sticky;
    top: 0;
}

.logo {
    color: #38bdf8;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    color: #38bdf8;
}

/* Hero */
.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hero span {
    color: #38bdf8;
}

.hero h1 {
    font-size: 45px;
}

.hero h2 {
    margin: 10px 0;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    background: #38bdf8;
    color: black;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

/* Sections */
.section {
    padding: 80px 10%;
    text-align: center;
}

.section h2 {
    margin-bottom: 20px;
    color: #38bdf8;
}

/* Skills */
.skills-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.skill-card {
    background: #1f2937;
    padding: 15px 25px;
    border-radius: 10px;
}

/* Projects */
.project-card {
    background: #1f2937;
    padding: 25px;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
}

/* Contact */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: auto;
}

input,
textarea {
    padding: 12px;
    border: none;
    border-radius: 8px;
}

button {
    background: #38bdf8;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #1f2937;
}

/* Mobile Responsive */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .nav-links {
        margin-top: 10px;
    }

    .hero h1 {
        font-size: 35px;
    }
}
.light-mode {
    background: white;
    color: black;
}

.light-mode .navbar,
.light-mode footer,
.light-mode .skill-card,
.light-mode .project-card {
    background: #e5e7eb;
}

.light-mode a {
    color: black;
}